*{
  box-sizing: border-box;
}

table,th,td {
    border: solid black 1px;
    border-collapse: collapse;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    color: black;

  }
  header li {
    float: right;
  }
  header #hom1 {
    float: right;
  }
  header #home1 #home{
    text-decoration: none;
  }
  /* table,th {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
  }  */

  body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

header{
  background-color: rgb(153,204,255);
  height: 110px;
  font-family: 'New Tegomin', serif;
  height:110px;
}

header img{
  float: left;
  width: 100px;
  padding-left:20px ;
  padding-top: 20px;
}
header h1{
  text-align: center;
  padding-top: 20px;
  font-size: xxx-large;
  color:rgb(251,126,0) ;
}
header nav {
  text-decoration: none;
  width: 25%;
  /* float: right; */
  /* padding-top: 10px; */
  /* padding-left: 40px; */
  width: 100%;
}
header nav ul{
  /* position: relative; */
  float: right;
  padding-right: 5px;
  padding-top: 9px;

}
header nav ul li{
  display: inline-block;
  padding: 6px;
  
}
header nav ul li a{
  text-decoration: none;
  color: rgb(251,126,0);
  font-weight: bolder;
  font-size: larger;
}

main #hero img{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main #img {
  float: left;
}
main #img img{
  width: 300px;
  height: 300px;
  display: block;
  padding: 20px;

}
main .location{
  float: left;
  
}
main #para{
  float: left;
}
main #para p{
  padding-top: 20px;
  position: relative;
  width: 300px;
  height: 300px;
  text-align: justify;
  padding: 50px;
  color: rgb(251,126,0) ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
footer{
  background-color: rgb(153,204,255);
  padding-bottom: 0px;
  margin-top: 20px;
  height:  50px;
  clear: both;
  text-align: center;
  color: gb(251,126,0);
  padding-top: 10px;
}